PORT=8080
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alerts.provengo@gmail.com
SMTP_PASS=sem_espacos
DEST_EMAIL=alerts.provengo@gmail.com
DATABASE_URL=postgres://sender_mail:AxdErFasSa1109012@198.18.12.76:5432/sender_mail?sslmode=disable
